<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Encabezado
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" (ionChange)="changeCategory($event)">

    <ion-segment-button mode="md" *ngFor="let item of categorias" [value]="item">
      <ion-label text-capitalize>{{item}}</ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-header>

<ion-content color="dark">

  <app-listado-noticias [noticias]="noticias"></app-listado-noticias>

</ion-content>
